*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
}

header{
    height: 300px;
}

nav{
    height: 100px;
}

main{
    height: 1000px;
}

footer{
    width: 100%;
    box-sizing: border-box;
    padding: 50px 100px;
    background: #97d3f6;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 7px rgba(243, 244, 244, 0.5);
    color: #0e0e0e;
}

footer h1{
    font-size: 15px;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    padding: 3px;
}

.about-us{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.au-item{
    box-sizing: border-box;
    padding: 5px 0px;
}

.au-item li{
    box-sizing: border-box;
    padding: 5px 0px;
}

.otros-enlaces{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.oe-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 0px;
}

.oe-item a{
    box-sizing: border-box;
    padding: 5px 0px;
    text-decoration: none;
    color: #131212;
}

.socialmedia{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 0px;
}

.sm-item{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 0px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.35s ease;
    text-indent: 0px;
    border-radius: 5px 0px 0px 5px;
}

.sm-item:hover{
    text-indent: 10px;
    box-shadow: inset 40px 0px 2px rgba(255,255,255,0.95);
}

.sm-item:hover .icon-facebook2{
    color: #1877f2;
}

.sm-item:hover .icon-instagram{
    color: #d33086;
}

.sm-item:hover span{
    color: #ff0000;
}

.sm-item span{
    font-size: 20px;
    transition: all 0.35s ease;
}

.sm-item p{
    font-size: 14px;
    box-sizing: border-box;
    padding: 5px 10px;
}

